/node_modules
/public/build
/public/hot
/public/ssr
/storage
/vendor
/.phpunit.result.cache
/.idea
/.vscode
.env
.env.backup
.env.production
.phpactor.json
.phpactor.old.json
downgrade-rules.php.js
/HOMESTEADER.yaml
/Homestead.json
/.vagrant
/vendor
*.swp
*.swo
*~
.DS_Store
Thumbs.db
